@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14.7px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aritaD);
}

.center {
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}


.prose :where(code):not(:where(pre code))::before {
  content: "" !important;
}
.prose :where(code):not(:where(pre code))::after {
  content: "" !important;
}

.prose :where(code):not(:where(pre code)) {
  background-color:rgb(248, 248, 248) !important; 
  color:rgb(88, 88, 88) !important;             
  padding: 2px 5px !important;
  border-radius: 4px !important;
  font-size: 0.85em !important;
  font-weight: 400 !important;
  border: none !important;
}
