@import "tailwindcss";

:root {
  --background:rgb(255, 255, 255);
  --foreground: #171717;
  --blue-700:rgb(0, 0, 255);  

  --tag-default:rgb(0, 0, 0); 
  --tag-code: #ff4757;    
  --tag-web: #1e90ff;      
  --tag-comic:rgb(0, 13, 255);      
  --tag-poster: #2ed573;   
  --tag-3d: #ffa502;       
  --tag-illust:rgb(255, 2, 230);       

}

body {
  background: var(--background);
  color: var(--foreground);
}



.prose :where(code):not(:where(pre code))::before {
  content: "" !important;
}
.prose :where(code):not(:where(pre code))::after {
  content: "" !important;
}

.prose :where(code):not(:where(pre code)) {
  background-color:rgb(248, 248, 248) !important; 
  color:rgb(88, 88, 88) !important;             
  padding: 2px 5px !important;
  border-radius: 4px !important;
  font-size: 0.85em !important;
  font-weight: 400 !important;
  border: none !important;
}

code, pre, kbd, samp {
  letter-spacing: normal !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
