@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14.7px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-aritaD);
}

.center {
  top: 90%;
  left: 50%;
  transform: translate(-50%, 0%);
}
