body {
  background-color: #ffffff;
}
.mosaic {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  grid-template-rows: repeat(var(--rows, 2), 1fr);
}

@media (min-width: 860px) {
  .mosaic {
    --cols: 3;
    --rows: 2;
  }
}
/* 재귀 분할 컨테이너 */
.split {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0; /* 내부도 동일 */
}

.emptyTile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(147, 203, 255);
  transform: scale(var(--sx, 1), var(--sy, 1));
  transform-origin: center center;
}

/* home.css */
.clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* 보조 유틸(한 줄 말줄임) */
.ellipsis-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
