body {
  background-color: #ffffff;
}
.mosaic {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  grid-template-rows: repeat(var(--rows, 2), 1fr);
}

@media (min-width: 860px) {
  .mosaic {
    --cols: 3;
    --rows: 2;
  }
}
/* 재귀 분할 컨테이너 */
.split {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0; /* 내부도 동일 */
}

.emptyTile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(147, 203, 255);
  transform: scale(var(--sx, 1), var(--sy, 1));
  transform-origin: center center;
}
