body {
  background-color: #e3e3e3;
}
.mosaic {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-template-columns: repeat(var(--cols, 2), 1fr);
  grid-template-rows: repeat(var(--rows, 2), 1fr);
}

@media (min-width: 640px) {
  .mosaic {
    --cols: 4;
    --rows: 2;
  }
}
/* 재귀 분할 컨테이너 */
.split {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 0; /* 내부도 동일 */
}

.tile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  transform: scale(var(--sx, 1), var(--sy, 1));
  transform-origin: center center;
}

.emptyTile {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(147, 203, 255);
  transform: scale(var(--sx, 1), var(--sy, 1));
  transform-origin: center center;
}

/* 텍스트가 넘칠 때 줄바꿈/자르기 옵션(선택) */
.tile > .content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
